* {
    box-sizing: border-box;
}

body {
    font-family: raleway, sans-serif;
    margin: 0;
    padding: 0;
}

#main-ctnr {
    width: 100%;
    height: auto;
}

#main-header {
    max-width: 1600px;
    margin: 0 auto;
}

#main-header {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-header li {
    border-top: 3px solid transparent;
    padding: 30px 15px;
}

#main-header a {
    text-decoration: none;
    color: black;
}

#main-header li:hover {
    border-top-color: blue;
}

#main-header li:hover a {
    color: blue;
}

#main-page-ctnr {
    max-width: 1600px;
    margin: 0 auto;
}

#search-section {
    padding: 10px;
    box-sizing: border-box;
}

#search-section h2 {
    font-weight: bold;
    font-size: 28px;
}

#search-section p {
    font-size: 19px;
}

#search-with-location-form {
    display: flex;
    border-radius: 10px;
    margin-bottom: 14px;
}

#search-with-location-form input {
    border: 0.5px solid #f2f2f2;
    padding-left: 12px;
    font-size: 14px;
    font-weight: bold;
}

#search-with-location-form button {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    border: none;
}

#form-filter-search-icon {
    display: none;
}

/* Classe de Flexbox*/
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.iconSize {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

/* Classe de couleurs */
.graycolor {
    color: silver;
}

.blueColor {                
    color: #0065fc;
}

/* Classe couleurs de fond */
.backBlue {
    background-color: #0065fc;
}

.backGray {                
    background-color: #f2f2f2;                          
}

/* FILTERS */
#filters-list ul{
     margin-right: 20px;
     word-spacing: 10px;
}

#filters-list, h3, ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

#filters-list h3 {
    margin-right: 20px;
}

#filters-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 45px;
    border-radius: 30px;
    margin-right: 25px;
}

#filters-list li:hover > .textFilter {
    color: #0065fc;
}

#filters-list .iconFilter:hover {
    color: white;
    background-color: #0065fc;
}

.textFilter {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 0 25px 25px 0;
}

.iconFilter {
    border-radius: 25px;
    width: 45px;
    height: 45px;
    color:#0065fc;
    background-color: #deebff;
    margin-left: -2px;
}

#filters-list button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 14px;
}

 #filters-result-text {
    display: flex;
    align-items: center;
}

.infoFather {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-left: -2px;
}

.paraReg {
    margin-left: 10px;
}

/* BLOC HEBERGEMENTS ET POPULAIRES */
.blocHebandPopu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* BLOC HEBEGEMENTS */
.hebcards {
    flex: 2;
    background-color: #f2f2f2; 
    margin-right: 20px;
    border-radius: 10px;
    padding: 0 30px;
}

.hebcards img {
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.blocHeb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 17px;
    padding: 0;
}

.blocImgHeb {
    height: 209px;
    border: 3px solid white;
    border-radius: 15px;
    margin: 20px 3px;
    width: 220px;
    padding: 2px;
    background-color: white;
    box-shadow: 1px 1px 4px silver;
}

.blocHeb h3 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: -30px;
    color: black;
}

.blocHeb p {
    margin-left: 12px;
    margin-top: 33px;
    color: black;
}

.hebcards .blocHeb .blocImgHeb ul li {
    font-size: 14px;
}

.blocHeb .blocImgHeb a {
    text-decoration: none;
}

.blocImgHeb ul {
    padding-left: 10px;
}

.blocHebandPopu h2 {
    padding-left: 8px;
    padding-top: 7px;
}

.hebcards .affiplus {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: -16px;
    left: 6px;
}

/* BLOC POPULAIRES */
.popucards {
    flex: 1;
    background-color: #f2f2f2; 
    border-radius: 10px;
    padding: 0 25px;
}

.descripPopuEtoile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocPopu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blocImgPopu {
    height: 152px;
    background-color: white;
    padding: 4px;
    border-radius: 15px;
    margin-bottom: 19px;
    width: 95%;
    position: relative;
}

.blocPopu img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 135px;
    object-fit: cover;
}

.blocImgPopu .descripPopu {
    position: relative;
    padding: 0 30px 0 10px;
}

.descripPopu ul {
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 0;
}

.descripPopu h2 {
    font-weight: bold;
}

.descripPopu h3 {
    margin-top: 10px;
}


.descripPopu p {
    margin-top: -5px;
}

.blocImgPopu a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    color: black;
}

/* BLOC ACTIVITES */


.activitycards {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -6px;
}

.activitycards h2 {
    padding-bottom: 0px;
    position: relative;
    top: 7px;
    left: 2px;
}

ul.blocActi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocActi li {
    width: 20%;
}

.bloc2ImgActi {
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.bloc2ImgActi img{
    background-position: center;
    width: 100%;
    height: 452px;
    border-radius: 15px 15px 0 0;
}

.bloc2ImgActi h3 {
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.cubeAtivity3456 {
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: 10px 0;
}

.cubeAtivity3456 img {
    background-position: center;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.cubeAtivity3456 h3 {
    padding-left: 5%;
}


.activite-img1 {
    height: 230px
}

.activite-img2 {
    height: 140px
}

.activite-img3 {
    height: 200px
}

.activite-img4 {
    height: 165px
}

/* FOOTER */
.footer {
    max-width: 1680px;
    margin: 0 auto; 
    background-color: #f2f2f2; 
    padding-left: 35px;
}

.betweenfooter {
    display: flex;
    justify-content: space-between;
}

.columnfooter {
    display: flex;
    flex-direction: column;
    min-width: 33%;
}

.columnfooter h3 {
    font-weight: bold;
}

.columnfooter a {
    text-decoration: none;
    line-height: 25px;
    color: black;
}
